pytorch-lightning
torch>=1.9.0
torchvision
# torch-geometric
# torch-scatter
# torch-sparse
# torch-cluster
numpy
waymo-open-dataset-tf-2-6-0
tensorflow==2.6.1
open3d
wandb
ffmpeg-python
matplotlib
setuptools
tqdm
vispy==0.6.6
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
opencv-python-headless
pynput
ninja